/*Footer social icons*/

ul.social-network{ 
    list-style: none;
    display: inline;

    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0;
    padding: 5px;
}

/*Definindo para ele ser branco*/
.faFacebook, .faLinkedin, .faInstagram {
    color: #fff;
}

/*Ao ser passado o mouse ele fica nessa cor*/
.faFacebook:hover {
    color: #3b5998;
}

/*Ao ser passado o mouse ele fica nessa cor*/
.faLinkedin:hover {
    color: #0072b1;
}

/*Ao ser passado o mouse ele fica nessa cor*/
.faInstagram:hover {
    color: #C13584;
}