<div class="card border-0" style="width: 18rem;">

    <!--Imagem do perfil lateral-->
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-100" src="https://img.ibxk.com.br/2019/10/11/11114552412100.jpg" alt="Imagem de capa do card">
    </div>
    <!--/Imagem do perfil lateral-->

    <!--Conteudo do perfil lateral-->
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">{{nome}}</h5>
      <p class="card-text text-center text-monospace">Estudante de desenvolvimento Java Web FullStack na Generation Brasil.</p>
      
      <a href="https://www.linkedin.com/in/gildenorjunior/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blanck">LinkedIn</a>

      <a href="https://github.com/gildenorjunior" class="btn btn-outline-dark d-flex justify-content-center" target="_blanck">GitHub</a>
    </div>
    <!--/Conteudo do perfil lateral-->
  
</div>
